<!doctype html>
<html>

<head>
    <title>DASOMFOLIO - 404Page</title>
    <% include ./metaData %>
</head>
<!-- Body Start -->

<body data-spy="scroll" data-target="#navbar" data-offset="98">

    <!-- page loading -->
    <div id="loading">
        <div class="load-circle"><span class="one"></span></div>
    </div>
    <!-- end page loading -->

    <!-- Home Slider -->
    <section class="dark-bg">
        <div class="container">
            <div class="row justify-content-center full-screen align-items-center">
                <div class="col-lg-8 text-center">
                    <h1 class="display-4 white-color m-10px-b">404 <br> 페이지를 찾을 수 없습니다.</h1>
                    <p class="h4">LangBox 주소를 다시한번 확인 후 접속해주세요.</p>
                    <div style="padding-top: 20px;">
                        <a class="m-btn m-btn-t-white m-btn-radius" href="/">LandBox 홈으로</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end Home Slider -->
    <!-- Footer-->
    <% include ./footerBar %>
    <% include ./plugin %>
</body>
<!-- end body -->

</html>