<!doctype html>
<html>

<head>
    <title>DASOMFOLIO</title>
    <% include ./metaData %>
</head>
<!-- Body Start -->

<body data-spy="scroll" data-target="#navbar" data-offset="98">

    <!-- page loading -->
    <div id="loading">
        <div class="load-circle"><span class="one"></span></div>
    </div>
    <!-- end page loading -->

    <!-- Home Slider -->
    <section class="dark-bg">
        <div class="container">
            <div class="row justify-content-center full-screen align-items-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-4 white-color m-10px-b">서버에 문제가 발생했습니다.</h1>
                    <p class="h4">지속적인 문제 발생 시 오른쪽 하단 1:1문의를 통해 랜드박스로 문의해주세요.</p>
                    <div style="padding-top: 20px;">
                        <a class="m-btn m-btn-t-white m-btn-radius" href="/">LandBox 홈으로</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end Home Slider -->
    <!-- Footer-->
    <% include ./footerBar %>
    <% include ./plugin %>
</body>
<!-- end body -->

</html>