<footer id="footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="footer-widget border">
                    <p class="pull-left"><small>&copy; Made by dasom</small></p>
                    <p class="pull-right"><small> Kyunghee University  <a href="http://freehtml5.co/" ta>Computer Engineering</a>  senior </small></p>
                    
                </div>
            </div>
        </div>
    </div>
</footer>