
<!-- Header -->
<header role="banner" id="fh5co-header">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="row">
                <div class="col-md-3">
                    <div class="fh5co-navbar-brand">
                        <a class="fh5co-logo" href="/main"><img src="static/img/brand-nav.png" alt="Closest Logo"></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="nav text-center">
                        <li><a href="/main"><span>Work</span></a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="social">
                        <li><a href="https://github.com/toror33"><i class="icon-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/dasom-kim-3a1032190/"><i class="icon-linkedin"></i></a></li>
                        <li><a href="https://www.instagram.com/das0m._.i/?hl=ko"><i class="icon-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!-- Header End -->