<div class="col-lg-2 go-to" style=" padding-top: 10px;">
  <div class="card m-40px-b sticky-lg-top mb-lg-auto ">
    <div class="list-group list-group-flush box-shadow">
      <a href="/mypage/assets" class="nav-link list-group-item list-group-item-action d-flex justify-content-between p15px-tb">
        <div>
          <i style="width: 15px;  text-align: center;" class="far fa-lightbulb"></i>
          <span style="padding-left: 5px;"> 개인자산</span>
        </div>
        <div>
          <i class="ti-angle-right"></i>
        </div>
      </a>
      <a href="/mypage/account/total"
        class="nav-link list-group-item list-group-item-action d-flex justify-content-between p15px-tb">
        <div>
          <i style="width: 15px; text-align: center; " class="fas fa-dollar-sign"></i>
          <span style="padding-left: 5px;"> 입출금내역</span>
        </div>
        <div>
          <i class="ti-angle-right"></i>
        </div>
      </a>
      <a href="/mypage/airdrop/total"
        class="nav-link list-group-item list-group-item-action d-flex justify-content-between p15px-tb">
        <div>
          <i style="width: 15px; text-align: center;" class="fab fa-mixcloud"></i>
          <span style="padding-left: 5px;"> 에어드랍</span>
        </div>
        <div>
          <i class="ti-angle-right"></i>
        </div>
      </a>
      <a href="/mypage/referral" class="nav-link list-group-item list-group-item-action d-flex justify-content-between p15px-tb">
        <div>
          <i style="width: 15px; text-align: center;" class="fas fa-list"></i>
          <span style="padding-left: 5px;"> 리퍼럴</span>
        </div>
        <div>
          <i class="ti-angle-right"></i>
        </div>
      </a>
      <a href="/mypage/changeinfo" class="nav-link list-group-item list-group-item-action d-flex justify-content-between p15px-tb">
        <div>
          <i style="width: 15px; text-align: center;" class="fas fa-lock"></i>
          <span style="padding-left: 5px;"> 정보변경</span>
        </div>
        <div>
          <i class="ti-angle-right"></i>
        </div>
      </a>
      <a href="/auth/logout" class="nav-link list-group-item list-group-item-action d-flex justify-content-between p15px-tb">
        <div>
          <i style="width: 15px; text-align: center;" class="fas fa-user-lock"></i>
          <span style="padding-left: 5px;"> 로그아웃</span>
        </div>
        <div>
          <i class="ti-angle-right"></i>
        </div>
      </a>
    </div>
  </div>
</div>