<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <title>DASOMFOLIO</title>
    <% include ./subPage/metaData %>
</head>
<!-- Body Start -->
<body>
	<div class="box-wrap">
		<% include ./subPage/headerBar %>

		<section id="work">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="fh5co-grid animate-box" style="background-image: url(static/img/dasan.jpg);">
							<a class="image-popup text-center" href="#">
								<div class="work-title">
									<h3>2015.11.02 ~ 2017.02.17 (1년 4개월)</h3>
									<span>다산 네트웍솔루션즈 SW 개발본부 사원</span>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-6">
						<div class="fh5co-grid animate-box" style="background-image: url(static/img/cambodia.jpg);">
							<a class="image-popup text-center" href="#">
								<div class="work-title">
									<h3>2019.08.05  ~ 2019.08.23</h3>
									<span>ICT department of senate of cambodia 웹 사이트 제작</span>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-8">
						<div class="fh5co-grid animate-box" style="background-image: url(static/img/chung.jpg);">
							<a class="image-popup text-center" href="#">
								<div class="work-title">
									<h3>2019.12.23 ~ 2020.02.21</h3>
									<span>전능아이티 Andorid 개발 인턴</span>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-grid animate-box" style="background-image: url(static/img/entry3.jpg);">
							<a class="image-popup text-center" href="#">
								<div class="work-title">
									<h3>2017.09.02 ~ ing </h3>
									<span>경희대학교 SW나눔봉사단 엔트리 리더</span>
								</div>
							</a>
						</div>
					</div>

					<div class="col-md-12">
						<div class="fh5co-grid animate-box" style="background-image: url(static/img/sanjose.jpg);">
							<a class="image-popup text-center" href="#">
								<div class="work-title">
									<h3>2019.07.08 ~ 2019.08.03</h3>
									<span>Sanjose State University 프로그램에서 Second Prize 수상</span>
								</div>
							</a>
						</div>
					</div>

				</div>
			<div>
		</section>

		<% include ./subPage/footerBar %>
	</div>
	<!-- END: box-wrap -->
	
    <% include ./subPage/plugin %>
	</body>

</html>